* {
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**** HEADER ****/
header {
    background-color: black;
}

header img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
}

span {
    color: #b30000;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #b30000;
    transition: .5s;
}

body {
    background-color: #4d4d4d;
}