:root {
    --main-color: #b30000;
    --second-color: white;
}

* {
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**** HEADER ****/

header {
    background-color: black;
}

header img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 4%;
    padding-right: 4%;
}


.logo {
    color: var(--second-color);
    font-size: 50px;
    letter-spacing: 1px;
}

span {
    color: var(--main-color);
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px 10px 0;
}

nav ul li a{
    color: var(--second-color);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--main-color);
    transition: .5s;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #4d4d4d;
}

/**** ABOUT ME ****/

.about-me h2{
    color: var(--main-color);
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 1%;
}

.about-me p {
    color: var(--second-color);
    display: flex;
    text-align: center;
    justify-content: center;
}

#seperation-bar hr{
    display: flex;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 1px;
    background-color: var(--second-color);
}

/**** WORK SECTION ****/

.work {
    display: flex;
    flex-direction: column;
    margin-right: 75px;
    margin-left: 75px;
    justify-content: center;
    margin: 25px 75px 75px 75px;
    padding: 20px;
    background-color: #a6a6a6;
    color: #ffffff;
    border: 7px solid black;
}

.project {
    display: flex;
    min-height: 150px;
    max-height: 150px;
    border: 5px solid black;
    color: var(--second-color);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 30px;
    text-decoration: none;
    background-size: 100%;
}

.work-header h2{
    color: var(--main-color);
    text-decoration: under;
    text-align: center;
    font-size: 45px;
}

.project-label {
    background-color: black;
    border: 5px solid black;
}

.project:first-child {
    min-height: 400px;
    margin: 10px;
}

/**** WORK PICTURES ****/

#prework-study-guide {
    background-image: url("../images/books.jpg");
}

#led-wall {
    background-image: url("../images/neon.jpg");
}

#calculator {
    background-image: url("../images/calculator.jpg");
}

#pastel-puzzles {
    background-image: url("../images/puzzle.jpg");
}

#run-buddy {
    background-image: url("../images/runbuddy.jpg");
}


/**** FOOTER ****/

footer{
    background-color: black;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: var(--second-color);
}

.contact-me {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.contact-me h3{
    font-size: 30px;
    color: var(--main-color);
    margin-top: 5px;
}

.contact-me p {
    max-width: 500px;
    margin: 15px auto;
    font-size: 14px;
}

.contact {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 4%;
    padding-left: 4%;
}

.contact li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px 50px 25px;
}

.contact li a{
    color: var(--main-color);
    text-decoration: none;
}

.contact a:hover {
    color: var(--second-color);
    transition: .5s;
}